input[type="url"].ng-invalid.ng-touched{
    border: 1px solid red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input[type="url"].ng-valid.ng-touched{
    border: 1px solid green;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}